/* -------------------initial----------------- */

@font-face {
    /* 字体图标声明 */
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?p4ssmb');
    src: url('../fonts/icomoon.eot?p4ssmb#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?p4ssmb') format('truetype'), url('../fonts/icomoon.woff?p4ssmb') format('woff'), url('../fonts/icomoon.svg?p4ssmb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.fl {
    /* 单左浮动 */
    float: left;
}

.fr {
    /* 单右浮动 */
    float: right;
}

.style_red {
    color: #c81623;
}

.typePage {
    width: 1200px;
    margin: 0 auto;
}


/* -------------------shortcut----------------- */

.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.shortcut li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    /* 偶数child */
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}

.arrow-icon::after {}